body{
    margin: 30px auto 0;
    height: auto;
}
body h3{
	color: blue;	
	font-weight: bold;
}
body b{
	color: red;
}
.header_TB{
	font-weight: bold;
}
/* .header_contentLeft{
	float: left;
} */
.header_contentRight{
	float: right;
}
.well{
	/* float:left; */
	
}
.navbar{
	background-color: #061647;
}
.content-centre{
	height: 500px;
}
.image-btn{
	width:25px; 
	height:25px;
	padding: 5px;
	/* //margin-top:-26px;  */
}
.pagination{
	margin-left: 42%;
}
#themGV, #nhapFile{
	margin-left: 86%;
}
#GV_Nhapbtn{
	margin-left: 35%;
}
#GV_Huybtn{
	margin-left: 130px;
}
#xuatDt{
	margin-left: 86%;
}
#dsbv{
	margin-left: 77%;
}
#DT_btnTao{
	margin-left: 25%;
}
#DT_btnHuy{
	margin-left: 10%;
}

#primary_nav_wrap
{
	margin-top:15px
}

#primary_nav_wrap ul
{
	list-style:none;
	position:relative;
	float:left;
	margin:0;
	padding:0
}

#primary_nav_wrap ul a
{
	display: block;
    color: #ffffff;
    text-decoration: none;
    font-weight: 700;
    font-size: 12px;
    line-height: 32px;
    padding: 0 15px;
    font-family: "HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif;
}

#primary_nav_wrap ul li
{
	position:relative;
	float:left;
	margin:0;
	padding:0
}

#primary_nav_wrap ul li.current-menu-item
{
	background:#337ab7
}

#primary_nav_wrap ul li:hover
{
	background:#337ab7
}

#primary_nav_wrap ul ul
{
	display:none;
	position:absolute;
	top:100%;
	left:0;
	background:#337ab7;
	padding:0
}

#primary_nav_wrap ul ul li
{
	float:none;
	width:200px

}

#primary_nav_wrap ul ul a
{
	line-height:120%;
	padding:10px 15px
	
}

#primary_nav_wrap ul ul ul
{
	top:0;
	left:100%;
	
}

#primary_nav_wrap ul li:hover > ul
{
	display:block;
	background: #337ab7;
}