<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>MVC_Example</display-name>
  <welcome-file-list>
    <welcome-file>dangNhap.jsp</welcome-file>
  </welcome-file-list>

  <servlet>
    <description></description>
    <display-name>ControllerDSGV</display-name>
    <servlet-name>ControllerDSGV</servlet-name>
    <servlet-class>controller.ControllerDSGV</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerDSGV</servlet-name>
    <url-pattern>/danhsachgv</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ControllerSuaGV</display-name>
    <servlet-name>ControllerSuaGV</servlet-name>
    <servlet-class>controller.ControllerSuaGV</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerSuaGV</servlet-name>
    <url-pattern>/suagv</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ControllerXoaGV</display-name>
    <servlet-name>ControllerXoaGV</servlet-name>
    <servlet-class>controller.ControllerXoaGV</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerXoaGV</servlet-name>
    <url-pattern>/xoagv</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ControllerThemGVTT</display-name>
    <servlet-name>ControllerThemGVTT</servlet-name>
    <servlet-class>controller.ControllerThemGVTT</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerThemGVTT</servlet-name>
    <url-pattern>/themgvtt</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ControllerDsDeTai</display-name>
    <servlet-name>ControllerDsDeTai</servlet-name>
    <servlet-class>controller.ControllerDsDeTai</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerDsDeTai</servlet-name>
    <url-pattern>/danhsachdt</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ControllerXoaDT</display-name>
    <servlet-name>ControllerXoaDT</servlet-name>
    <servlet-class>controller.ControllerXoaDT</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerXoaDT</servlet-name>
    <url-pattern>/xoadt</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>test</display-name>
    <servlet-name>test</servlet-name>
    <servlet-class>controller.test</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>test</servlet-name>
    <url-pattern>/test</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ControllerGVDsQuanLy</display-name>
    <servlet-name>ControllerGVDsQuanLy</servlet-name>
    <servlet-class>controller.ControllerGVDsQuanLy</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerGVDsQuanLy</servlet-name>
    <url-pattern>/ControllerGVDsQuanLy</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ControllerSuaDeTai</display-name>
    <servlet-name>ControllerSuaDeTai</servlet-name>
    <servlet-class>controller.ControllerSuaDeTai</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerSuaDeTai</servlet-name>
    <url-pattern>/suadt</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ControllerThemGVFile</display-name>
    <servlet-name>ControllerThemGVFile</servlet-name>
    <servlet-class>controller.ControllerThemGVFile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerThemGVFile</servlet-name>
    <url-pattern>/themGV_file</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ControllerTimKiemGV</display-name>
    <servlet-name>ControllerTimKiemGV</servlet-name>
    <servlet-class>controller.ControllerTimKiemGV</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerTimKiemGV</servlet-name>
    <url-pattern>/timgv</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ControllerLogin</display-name>
    <servlet-name>ControllerLogin</servlet-name>
    <servlet-class>controller.ControllerLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerLogin</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
</web-app>